name: Continuous Deployment

on:
  push:
    branches: [ main ]

env:
  PROJECT_ID: byteflix-project 
  SERVICE_NAME: recommender-api
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Google Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Build and Push Docker Image
        run: |-
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev
          docker build --platform linux/amd64 -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/byteflix/${{ env.SERVICE_NAME }}:latest -f docker/recommender.Dockerfile .
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/byteflix/${{ env.SERVICE_NAME }}:latest

      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/byteflix/${{ env.SERVICE_NAME }}:latest