name: Continuous Deployment

on:
  push:
    branches: [ main ]

env:
  PROJECT_ID: byteflix-project
  SERVICE_NAME: recommender-api
  REGION: us-central1
  REPO: byteflix

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production 
    permissions:
      contents: 'read'

    steps:
      - uses: actions/checkout@v4

      - name: 'Google Auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS_JSON }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'
      
      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build and Push Docker Image
        id: build-push 
        run: |
          docker build --platform linux/amd64 \
            -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.SERVICE_NAME }}:latest \
            -f docker/recommender.Dockerfile .
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.SERVICE_NAME }}:latest
          echo "digest=$(docker inspect --format='{{index .RepoDigests 0}}' ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.SERVICE_NAME }}:latest)" >> $GITHUB_OUTPUT

      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: ${{ steps.build-push.outputs.digest }}
          allow_unauthenticated: true
          env_vars: |
            GIT_SHA=${{ github.sha }}
            IMAGE_DIGEST=${{ steps.build-push.outputs.digest }}
            
          secrets: |
            KAFKA_BOOTSTRAP_SERVERS=KAFKA_BOOTSTRAP:latest
            KAFKA_API_KEY=KAFKA_API_KEY:latest
            KAFKA_API_SECRET=KAFKA_API_SECRET:latest
            AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID:latest
            AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY:latest