name: Scheduled Retraining

on:
  workflow_dispatch: 
  schedule:
    - cron: '*/30 * * * *' # Runs every 30 minutes
 

env:
  PROJECT_ID: byteflix-project
  SERVICE_NAME: recommender-api
  REGION: us-central1
  REPO: byteflix

jobs:
  train-and-publish:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - uses: actions/checkout@v4


      - name: 'Google Auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS_JSON }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install s3fs pydantic-settings

      - name: Configure AWS Credentials for S3
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}" >> $GITHUB_ENV

      - name: Run training and publishing pipeline
        env:
          PYTHONPATH: .

        run: python -m run_pipeline

      - name: Trigger Cloud Run deployment
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --region ${{ env.REGION }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.SERVICE_NAME }}:latest \
            --set-env-vars="LAST_RETRAIN_TIMESTAMP=$(date +%s)"